
.overskrift_logo {
  font-family: font1;
  font-weight: 400;
  font-size: 90px;
  text-align: center;
}

.eksamen_2024{
  text-align: center;
}

/* overskrift */
.blomst {
  width: 6%;
  height: auto;
}

.blomst_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
}
/* overskrift */

/* video */
body,
html {
  margin: 0;
  overflow: hidden;
}

.video_file {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
/* video */

@media (max-width: 800px) {
  .overskrift_logo {
    font-family: font1;
    font-size: 60px;
    text-align: center;
  }

  .blomst_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
  }
  .blomst {
    width: 11%;
    height: auto;
  }
}
