h1{
    padding-top: 23px;
  }
  
  .portfolio_site_overskrift{
    font-size: 60px;
    padding-top: 100px;
    padding-left: 100px;
  }
    
  .sec_emne{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 80px;
    padding-bottom: 80px;
    grid-column-gap: 10px;
    justify-content: space-evenly;
  }

  .sec_opgave{
    padding-left: 200px;
  }

  .box_opgave{
    padding-top: 50px;
  }
  
  .sec_rolle{
    justify-content: center;
    align-items: center;
    padding-left: 250px;
  }

  
/* Info boks */
.div_box {
    border: 1px solid #ccc !important;
    border-radius: 20px;
    padding: 36px;
    width: 265px; /* Juster dette efter behov for at ændre bredden af div_box */
    height: 250px; /* Gør højden den samme som bredden for at opnå en kvadratisk form */
    margin-top: 24px;
    border-color: rgb(240, 238, 234);
    background-color: rgb(240, 238, 234);
  }
  
  .h2_box{
  font-size: 22px;
  text-decoration: underline;
  padding-bottom: 10px;
  }
  
  .p_box{
  font-size: 16px;
    line-height: 1.5;
  }
  /* Info boks */
  
  .opgaven {
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    gap: 60px;
    padding-left: 200px;  
    padding-right: 550px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
  }
    
  
  /* Link der fører videre */
  .link_box {
    text-decoration: none; /* Fjerner understregning */
    display: inline-block; /* Gør linket til et blok-element, så styling som margin og padding fungerer korrekt */
    color: #333; /* Tekstfarve */
    font-size: 20px;
    padding-top: 20px;
    padding-left: 4px;
    border-bottom: 2px solid transparent; /* Streg i bunden, starter som gennemsigtig */
    transition: border-bottom 0.3s; /* Overgangseffekt på stregen */
  }
  
  .link_box:hover {
    border-bottom: 2px solid #333; /* Viser stregen ved hover */
  }
  /* Link der fører videre */

  @media (max-width: 800px) {
    h1 {
      margin-left: 0px;
      margin-right: 35px;
      padding-top: 50px;
      padding-bottom: 15px;
      font-size: 24px;
      text-align: center;
    }
  
    p {
      font-size: 15px;
      padding-top: 12px;
      align-items: center;
      padding-left: 72px;
      padding-right: 53px;
    }
  
    .portfolio_site_overskrift{
      font-size: 40px;
      text-align: center;
      padding-top: 80px;
      padding-left: 0;
    }
  
    .sec_emne{
      grid-template-columns: repeat(1, 1fr);
      padding-top: 5px;
      padding-bottom: 50px;
      
    }
  
    .sec_opgave {
      padding-left: 0;
      margin: 0 auto; /* Centrer elementet horisontalt */
    }

    .box_opgave{
      padding-top: 0;
    }
  
    .sec_rolle{
      padding-left: 0;
      padding-top: 35px;
    }
  
    .div_box {
      margin: 0 auto; /* Centrer elementerne horisontalt */
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-top: 24px;
    }

    .h2_box{
      text-align: center;
    }

    .p_box{
      padding-left: 30px;
    }


  
    .opgaven {
      padding-top: 50px;
      padding-bottom: 100px;
      grid-template-columns: repeat(1, 1fr);
      padding-left: 0px; /* Juster dette efter behov */
      padding-right: 20px; /* Juster dette efter behov */
      gap: 0;
    }
  
    .link_box {
      display: inline-block; /* Gør linket til et blok-element, så styling som margin og padding fungerer korrekt */
      font-size: 18px;
      padding-top: 20px;
      padding-left: 72px;
      border-bottom-width: 1px; /* Juster dette efter behov for at ændre bredden af border-bottom på mobil */
    }
  }