h1 {
  font-family: font1;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 30px;
}

.overskrift {
  padding-left: 83px;
  padding-bottom: 80px;
}

.projekter_overskrift {
  font-size: 60px;
  padding-top: 100px;
}

.tema_2,
.tema_3,
.tema_4,
.tema_5,
.tema_6 {
  padding-left: 8%;
  padding-bottom: 5%;
}

.grid_1_1 {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: flex-end; /* Justerer indholdet til højre */
  gap: 40px;
  padding-right: 120px;
  object-fit: cover;
  align-self: stretch;
  max-width: 100%;
}

/* Image hover + tekst */
.image_container {
  position: relative;
  overflow: hidden;
}

.zoom_content {
  transition: transform 0.3s, opacity 0.3s; /* Overgangseffekt på skala og gennemsigtighed */
}

.read_more_text {
  font-family: font1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Juster farven efter dine præferencer */
  font-size: 35px; /* Juster størrelsen efter dine præferencer */
  opacity: 0;
  transition: opacity 0.3s; /* Overgangseffekt på gennemsigtighed */
}

.image_container:hover .zoom_content {
  transform: scale(
    1.1
  ); /* Ændrer skalaen ved hover (1.1 betyder en 10% zoom) */
  opacity: 0.8; /* Ændrer gennemsigtigheden ved hover */
}

.image_container:hover .read_more_text {
  opacity: 1; /* Gør teksten synlig ved hover */
}

.image_container img {
  width: 100%; /* For at sikre, at billedet udfylder containeren */
  height: 100%;
  max-height: 300px;
  object-fit: cover; /* Tilføjet object-fit: cover; for at få billedet til at udfylde containeren og bevare proportioner */
  display: block;
  transition: opacity 0.3s;
}
/* Image hover + tekst */


@media (min-width:800px){
  .grid_1 {
    /* padding-top: 10px;
    padding-right: 56%; */
    width: 52%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: flex-end; /* Justerer indholdet til højre */
    gap: 40px;
    padding-right: 120px;
  }
}

@media (max-width: 800px) {
  h1 {
    margin-left: 0px;
    margin-right: 35px;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 17px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .overskrift {
    padding-left: 0;
    text-align: center;
    padding-bottom: 30px;
  }

  .projekter_overskrift {
    font-size: 40px;
    padding-top: 80px;
  }

  .read_more_text {
    font-size: 25px;
  }

  .tema_2,
  .tema_3,
  .tema_4,
  .tema_5,
  .tema_6 {
    padding-left: 9%;
  }

  .grid_1_1 {
    display: grid;
    justify-content: flex-end; /* Justerer indholdet til højre */
    margin-top: 100px;
    margin: 0px;
    gap: 25px;
    padding-right: 40px;
    padding-left: 9px;
  }

  .grid_1 {
    padding-top: 10px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: flex-end; /* Justerer indholdet til højre */
    gap: 40px;

  }

  .image_container img {
    height: 100%;
    max-height: 300px;
    object-fit: cover; /* Tilføjet object-fit: cover; for at få billedet til at udfylde containeren og bevare proportioner */
    display: block;
    transition: opacity 0.3s;
    object-fit: cover;
    align-self: stretch;
    max-width: 100%;
  }
}

