h1 {
  padding-top: 23px;
}

.website_overskrift {
  font-size: 60px;
  padding-top: 100px;
  padding-left: 100px;
}

.sec_emne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 80px;
  padding-bottom: 80px;
  grid-column-gap: 10px;
  justify-content: space-evenly;
}

.sec_opgave {
  padding-left: 200px;
}

.sec_rolle {
  justify-content: center;
  align-items: center;
  padding-left: 250px;
}

/* Info boks */
.div_box {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 36px;
  width: 265px; 
  height: 297px; 
  margin-top: 24px;
  border-color: rgb(240, 238, 234);
  background-color: rgb(240, 238, 234);
}

.h2_box {
  font-size: 22px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.p_box {
  font-size: 16px;
  line-height: 1.5;
}
/* Info boks */

.process {
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
  padding-left: 100px;
  padding-right: 100px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}

/* Link der fører videre */
.link_box {
  text-decoration: none; 
  display: inline-block; 
  color: #333; 
  font-size: 20px;
  padding-top: 20px;
  padding-left: 4px;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s; 
}

.link_box:hover {
  border-bottom: 2px solid #333; 
}
/* Link der fører videre */

.fotos_website {
  padding-top: 9%;
  transform: scale(
    0.8
  ); 
}

.skiftende_billeder{
  max-width: 500px;
  width: 100%;
  padding-top: 82px;
  margin-left: 10%;
}

@media (max-width: 800px) {
  h1 {
    margin-left: 0px;
    margin-right: 35px;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 15px;
    padding-top: 12px;
    align-items: center;
    padding-left: 72px;
    padding-right: 53px;
  }

  .website_overskrift {
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    padding-left: 0;
  }

  .sec_emne {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 50px;
  }

  .sec_opgave {
    padding-left: 0;
    margin: 0 auto; 
  }

  .sec_rolle {
    padding-left: 0;
    padding-top: 35px;
  }

  .div_box {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 24px;
    height: 302px;
  }

  .h2_box{
    text-align: center;
  }

  .p_box{
    padding-left: 30px;
  }

  .process {
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0px; 
    padding-right: 20px; 
    gap: 0;
  }

  .link_box {
    display: inline-block; 
    font-size: 18px;
    padding-top: 20px;
    padding-left: 72px;
    border-bottom-width: 1px; 
  }

  .skiftende_billeder{
    padding-top: 40px;
    padding-right: 63px;
  }
}
